$color-btn-hover: #000;

.btn-wrap {
    display: inline-block;
    width: auto;
}

.btn {
    display: inline-block;
    border: 1px solid $color-second;
    padding: 12px 30px;
    font-family: $font-label;
    font-size: $font-size-btn;
    color: $color-second;
    font-weight: 400;
    letter-spacing: .08em;
    transition: .33s all ease;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;

    &:hover {
        border-color: $color-btn-hover;
        color: $color-btn-hover;
    }
}
.btn-second {
    background-color: $color-second;
    color: #fff;
    &:hover {
        background-color: $color-btn-hover;
        color: #fff;
    }
}
.btn-third{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    &:hover {
        background-color: #fff;
        color: #000;
        border-color: #fff;
    }
}
@media (min-width: 992px){
    .btn {
        padding: 12px 38px;
        line-height: 2em;
    }
}

.input {
    width: 220px;
    height: 56px;

    &::placeholder{
        position: relative;
        top: 10px;
        color: #000;
        font-family: $font-header;
        font-size: 28px; 
    }
    &:hover {
        background-color: #f8f8f8;
    }
}

.select {
    margin: 0;
    width: 84px;
    font-size: 28px;
    font-family: $font-header;
    text-align: center;

    &:hover {
        cursor:pointer;
        background-color: #f8f8f8;
    }
}


.list-marked{
    font-family: $font-text-plain;
    font-weight: 300;
    color: #777;
    line-height: 1.72;
    li{
        position: relative;
        padding-left: 12px;
    }
    li::before{
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        height: 3px;
        width: 3px;
        background: #777;
    }
}
<<<<<<< HEAD


.imageWithBorder{
    display: block;
    width: 99%;
    padding: 15px;
    background-color: #fff !important;
}

//-----------------------------//
// GUEST//
//-----------------------------//

.guest-item {
    text-align: center;
    h4{
        margin-top: 22px;
        font-weight: 400;
    }
    p{
        margin: 16px auto 0 auto;
        width: 90%;
    }
    .guest-name{
        margin-top: 20px;
        font-family: $font-header;
        color: #000;
    }
    .guest-name::before{
        content: '';
        display: inline-block;
        margin-right: 5px;
        width: 13px;
        height: 0;
        border-bottom: 1px solid;
        vertical-align: middle;
    }
}
.guest-item__img{
    border-radius: 50%
}

.emailInput{
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 12px 19px;
    font-family: $font-text-plain;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}
=======
>>>>>>> master
