html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

input, select, option {
  border: 0;
  outline: none; }

* {
  z-index: 0; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 38px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 14px; }

body {
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 18px; }

.container {
  max-width: 1366px;
  margin: 0 auto; }

.container-fluid {
  width: 100%;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  z-index: 0; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.f-right {
  float: right; }

.f-left {
  float: left; }

.clearfix {
  overflow: auto; }

.mt-2 {
  margin-top: 0.5em; }

.mb-2 {
  margin-bottom: 0.5em; }

.mt-4 {
  margin-top: 0.9em; }

.mt-5 {
  margin-top: 1.2em; }

.bold {
  font-weight: bold; }

.pos-static {
  position: static !important; }

.bg-cl-white {
  background-color: #fff; }

.bg-cl-second {
  background-color: #f8f8f8; }

.bg-cl-third {
  background-color: #C19B76; }

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: bold; }

h6, label, .label {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  letter-spacing: 0.08em; }

label {
  font-size: 14px; }

p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  color: #777; }

.menu-list > li > span::after, .submenu-1 li > span::after {
  position: relative;
  display: inline-block;
  font: 400 14px "FontAwesome";
  text-align: center; }

.menu-list > li:hover > .submenu-1, .submenu-1 li:hover > .submenu-2 {
  transition: all 0.3s ease;
  transform: translateY(-18px);
  visibility: visible;
  opacity: 1; }

.menu-list > li:hover > .submenu-huge {
  transition: margin-top 0.3s, visibility 0.3s, opacity 0.3s;
  margin-top: 38px;
  visibility: visible;
  opacity: 1; }

.menu {
  width: 85.65154%;
  padding-left: 25px;
  display: inline-block;
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu .btn-wrap {
    order: 2; }

.menu-list {
  margin-left: 60px; }
  .menu-list > li {
    display: inline-block;
    position: relative;
    height: 1.5em;
    padding: 0 13px;
    text-transform: uppercase;
    font-size: 14px; }
    .menu-list > li > span::after {
      top: -1px;
      content: '\f107';
      transition: 0.4s transform ease; }
    .menu-list > li > * {
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      color: #777; }
    .menu-list > li:hover > a, .menu-list > li:hover > span {
      color: #000; }
    .menu-list > li:hover > span::after {
      transform: rotate(180deg); }

.submenu-1, .submenu-2, .submenu-huge {
  position: absolute;
  padding: 30px;
  margin-top: 56px;
  background-color: #fbfbfb;
  border: 1px solid #f3f3f3; }

.submenu-1 {
  left: 0;
  z-index: 6;
  margin-left: -18px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 0.6s;
  text-transform: none;
  font-size: 0.9em; }
  .submenu-1 li {
    width: 178px;
    margin-bottom: 12px; }
    .submenu-1 li:last-child {
      margin-bottom: 0; }
    .submenu-1 li > span::after {
      content: '\f105';
      top: 1px;
      left: 2px; }
    .submenu-1 li:hover > * {
      color: #C19B76; }

.submenu-2 {
  left: 101.5%;
  margin-top: -17px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 0.4s; }

.submenu-huge {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: calc(100vh - 90px);
  max-width: 1310px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 10px;
  visibility: hidden;
  opacity: 0;
  transition: margin-top 0.3s, visibility 0.3s, opacity 0.3s;
  transition-delay: 0.6s;
  text-transform: none; }
  .submenu-huge > li {
    display: block;
    width: 249px;
    padding-left: 4%;
    border-left: 1px solid #ececee; }
  .submenu-huge > li:first-child {
    border: 0; }

.submenu-huge__header {
  margin-bottom: 24px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 1.2em;
  letter-spacing: 0.02em;
  color: #000; }

.submenu-huge__list li {
  margin-top: 14px;
  font-size: 0.9em; }
  .submenu-huge__list li:hover > * {
    color: #C19B76; }

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10; }

.header-wrap {
  width: 1350px;
  margin: 0 auto; }

.header {
  background-color: #fff;
  position: relative;
  max-width: 96.5593%;
  width: 96.5593%;
  margin: 0 auto;
  padding: 12px 0;
  display: flex; }

.header-top {
  padding: 21px 0; }

.logo {
  padding-right: 25px;
  display: inline-block;
  padding: 3px 0; }
  .logo p {
    color: #777;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5em; }

.btn-wrap {
  display: inline-block;
  width: auto; }

.btn {
  display: inline-block;
  border: 1px solid #C19B76;
  padding: 12px 30px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #C19B76;
  font-weight: 400;
  letter-spacing: .08em;
  transition: .33s all ease;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center; }
  .btn:hover {
    border-color: #000;
    color: #000; }

.btn-second {
  background-color: #C19B76;
  color: #fff; }
  .btn-second:hover {
    background-color: #000;
    color: #fff; }

.btn-third {
  background-color: transparent;
  color: #fff;
  border-color: #fff; }
  .btn-third:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff; }

@media (min-width: 992px) {
  .btn {
    padding: 12px 38px;
    line-height: 2em; } }

.input {
  width: 220px;
  height: 56px; }
  .input::placeholder {
    position: relative;
    top: 10px;
    color: #000;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-size: 28px; }
  .input:hover {
    background-color: #f8f8f8; }

.select {
  margin: 0;
  width: 84px;
  font-size: 28px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  text-align: center; }
  .select:hover {
    cursor: pointer;
    background-color: #f8f8f8; }

.list-marked {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #777;
  line-height: 1.72; }
  .list-marked li {
    position: relative;
    padding-left: 12px; }
  .list-marked li::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    height: 3px;
    width: 3px;
    background: #777; }

.imageWithBorder {
  display: block;
  width: 99%;
  padding: 15px;
  background-color: #fff !important; }

.guest-item {
  text-align: center; }
  .guest-item h4 {
    margin-top: 22px;
    font-weight: 400; }
  .guest-item p {
    margin: 16px auto 0 auto;
    width: 90%; }
  .guest-item .guest-name {
    margin-top: 20px;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    color: #000; }
  .guest-item .guest-name::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 0;
    border-bottom: 1px solid;
    vertical-align: middle; }

.guest-item__img {
  border-radius: 50%; }

.emailInput {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 12px 19px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8; }

.slide-wrap {
  width: 100%;
  min-height: 624px;
  height: 81.46214%;
  background: url("../images/slider/slider-slide-1.jpg") no-repeat;
  background-size: 100% 100%; }

.slider {
  width: 1350px;
  margin: 0 auto;
  padding: 100px 0 380px; }

.slide-text-contain {
  width: 58%;
  margin: 0 auto;
  padding: 0 12px;
  color: #fff; }
  .slide-text-contain > * {
    text-align: center; }
  .slide-text-contain > h6 {
    margin-top: 36px;
    text-transform: uppercase;
    letter-spacing: 0.08em; }
  .slide-text-contain > p {
    margin-top: 16px;
    color: #fff; }

.stars li::before {
  content: '\f005';
  font: 400 50px "FontAwesome";
  text-align: center;
  color: #fff; }

.stars li {
  display: inline-block; }

.slider__switch {
  position: relative;
  width: 100%;
  margin-top: 8%;
  height: 15px;
  text-align: center; }
  .slider__switch > span {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px; }
  .slider__switch > span::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%; }

.section-form {
  width: 100%;
  background-color: #fff; }

@media (min-width: 768px) {
  .section-form {
    height: 0; }
  .form-wrap::after {
    content: '';
    position: absolute;
    height: 203px;
    background-image: url("../images/form/shadow.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    left: -49px;
    right: -49px;
    bottom: -88px;
    width: 100%; } }

.form-wrap {
  position: relative;
  width: 95.90044%;
  margin: 0 auto;
  top: -120px;
  z-index: 4; }
  .form-wrap form {
    padding: 20px;
    background-color: #fff; }

.in-form, .dateType, .selectAndButton, .selects {
  display: flex;
  justify-content: space-around; }

.in-form {
  padding: 40px 0; }
  .in-form label {
    display: block;
    text-transform: uppercase; }
    .in-form label:hover {
      cursor: pointer; }

.dateType {
  width: 50%; }
  .dateType > div {
    padding: 20px;
    width: 290px; }
  .dateType input {
    padding: 10px 0 14px 5px;
    margin-top: 10px; }

.selectAndButton {
  width: 50%; }
  .selectAndButton:last-child {
    padding: 0 20px; }
    .selectAndButton:last-child a {
      margin-top: 16%; }

.selects {
  width: 216px; }
  .selects > div {
    padding: 20px; }
  .selects select {
    margin-top: 16px; }

.aboutHotel-wrap {
  width: 100%;
  min-height: 624px;
  height: 81.46214%;
  display: flex;
  justify-content: space-between;
  padding-top: 240px;
  padding-bottom: 100px; }
  .aboutHotel-wrap > div {
    width: 49%;
    padding: 0 24px; }

.aboutHotel-wrap__discription h6 {
  text-transform: uppercase; }

.aboutHotel-wrap__discription h2 {
  margin-top: 16px; }

.aboutHotel-wrap__discription p {
  margin-top: 40px;
  max-width: 520px; }

.aboutHotel-wrap__discription .button-wrap {
  margin-top: 35px; }

.roomsAndSuits-wrap {
  padding: 100px 0; }

.roomsAndSuits__header {
  width: 63%;
  margin: 0 auto;
  text-align: center; }
  .roomsAndSuits__header h2 {
    margin-top: 18px; }
  .roomsAndSuits__header p {
    margin-top: 40px; }

.roomsAndSuits__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 26px; }

.roomsAndSuits__body__post-product {
  width: 32.21083%;
  min-width: 400px;
  margin-top: 50px; }

.post-product__img-wrap {
  position: relative;
  width: 100%; }
  .post-product__img-wrap img {
    display: block;
    width: 100%; }

.post-product__img-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 16px solid #f8f8f8;
  z-index: 1;
  transition-duration: .33s; }

.roomsAndSuits__body__post-product:hover .post-product__img-wrap::before {
  transition-duration: .33s;
  border-width: 4px; }

.post-product__body h3 {
  position: relative;
  z-index: 5; }
  .post-product__body h3 a {
    z-index: 4;
    font-weight: 400;
    transition: .33s ease-out; }
  .post-product__body h3 a:hover {
    color: #C19B76; }

.post-product__body ul {
  margin-top: 15px; }

.post-product__body .btn-wrap {
  margin-top: 35px; }

.post-product__price {
  position: relative;
  top: -15px;
  z-index: 0;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 400; }
  .post-product__price .price__sign {
    position: relative;
    top: -30px;
    font-size: 28px; }
  .post-product__price .price__number {
    font-size: 100px;
    line-height: 1; }
  .post-product__price .price__end {
    font-size: 18px; }

.diningAndBar-wrap {
  padding: 100px 0; }

.diningAndBar-wrap__header {
  width: 65%;
  margin: 0 auto;
  text-align: center; }
  .diningAndBar-wrap__header p {
    margin-top: 40px; }

.diningAndBar-menu {
  margin-top: 60px; }
  .diningAndBar-menu > div:last-child {
    margin-top: 50px;
    text-align: center; }

.food-menu-list {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px; }
  .food-menu-list li {
    display: inline-block;
    padding: 0 15px; }
    .food-menu-list li a {
      color: #777; }

.diningAndBar-menu__body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px; }
  .diningAndBar-menu__body > div {
    width: 50%;
    min-width: 420px; }

.food-list li {
  margin-top: 26px;
  padding: 0 24px; }
  .food-list li > div {
    display: flex;
    justify-content: space-between; }
    .food-list li > div h4 {
      display: inline-block;
      line-height: 1.8;
      font-weight: 300; }
  .food-list li p {
    width: 89%;
    margin-top: 10px;
    font-size: 14px; }

.food-list-price {
  font-weight: 400;
  color: #C19B76;
  padding: 0 12px; }

.food-image img {
  margin-top: 40px; }

.amenities-wrap {
  padding: 100px 0; }

.amenities__header {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  color: #fff; }
  .amenities__header h2 {
    margin-top: 18px; }
  .amenities__header p {
    margin-top: 40px;
    color: #fff; }

.amenities-image img {
  margin-top: 40px; }

.amenities__body {
  display: flex; }
  .amenities__body > div {
    width: 49%;
    margin-top: 50px;
    padding: 0 15px; }

.amenities-description {
  color: #fff; }
  .amenities-description > p {
    margin-top: 28px;
    color: inherit; }
  .amenities-description > h4 {
    margin-top: 22px; }
  .amenities-description .post-product__price {
    margin-top: 10px; }
  .amenities-description .btn-wrap {
    margin-top: 22px; }

.guests-wrap {
  padding: 100px 0;
  text-align: center; }
  .guests-wrap > .btn-wrap {
    margin-top: 35px; }

.guests__header {
  width: 65%;
  margin: 0 auto;
  text-align: center; }
  .guests__header h2 {
    margin-top: 18px; }

.guests-items-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px; }
  .guests-items-wrap > div {
    width: 30%;
    margin: 0 20px; }

.location-wrap {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .location-wrap > div {
    margin-top: 20px;
    min-width: 440px; }

.location-discription {
  padding: 0 15px; }
  .location-discription > h2 {
    margin-top: 18px; }
  .location-discription > p {
    margin-top: 40px; }

.location-range {
  display: flex;
  justify-content: space-between;
  margin-top: 48px; }
  .location-range h4 {
    width: 75%;
    font-weight: 400; }

.subscribe-wrap {
  padding: 100px 30px;
  display: flex;
  justify-content: space-around;
  color: #fff; }
  .subscribe-wrap > div {
    min-width: 470px;
    width: 49%; }
  .subscribe-wrap p {
    margin-top: 15px;
    color: #fff; }
  .subscribe-wrap > div:last-child {
    margin-top: 30px;
    text-align: right; }
    .subscribe-wrap > div:last-child input {
      width: 55%;
      margin-right: 10px; }
    .subscribe-wrap > div:last-child > * {
      display: inline-block; }

.crousel-sidebar-wrap {
  display: flex; }

.carousel-item {
  position: relative;
  width: 225px;
  height: 225px; }

.carousel-item-hover {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #C19B76;
  opacity: 0;
  transition: all .33s ease; }

.carousel-item-hover:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all .33s ease; }
  .carousel-item-hover:hover .cross-picture {
    transition: all .33s ease;
    transform: scale(3); }

.carousel-img {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("../images/carouselSidebar/img1.jpg") no-repeat;
  background-size: 100% 100%; }

.cross-picture {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: 40%;
  bottom: 40%;
  left: 40%;
  display: flex;
  justify-content: center;
  transition: all .33s ease; }

.cross {
  position: absolute;
  width: 10px;
  height: 1px;
  top: 50%;
  background-color: #fff; }

.cross-vertical {
  transform: rotate(90deg);
  transform-origin: 50% 50%; }

body {
  padding-top: 95px; }
